<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>ScoreLens Xác Thực Email</title>
        <style type="text/css">
            body {
                margin: 0;
                padding: 0;
                min-width: 100%;
                font-family: Arial, sans-serif;
                font-size: 16px;
                line-height: 1.5;
                background-color: #fafafa;
                color: #222;
            }
            a {
                color: #000;
                text-decoration: none;
            }
            h1 {
                font-size: 24px;
                font-weight: 700;
                line-height: 1.25;
                margin-top: 0;
                margin-bottom: 15px;
                text-align: center;
            }
            p {
                margin-top: 0;
                margin-bottom: 24px;
            }
            table td {
                vertical-align: top;
            }
            .email-wrapper {
                max-width: 600px;
                margin: 0 auto;
            }
            .email-header {
                background-color: #e27447;
                padding: 24px;
                color: #fff;
            }
            .email-body {
                padding: 24px;
                background-color: #fff;
            }
            .email-footer {
                background-color: #f6f6f6;
                padding: 24px;
            }
            .button {
                display: inline-block;
                background-color: #e27447;
                color: #fff;
                font-size: 16px;
                font-weight: 700;
                text-align: center;
                text-decoration: none;
                padding: 12px 24px;
                border-radius: 4px;
            }
        </style>
    </head>
    <body>
        <div class="email-wrapper">
            <div class="email-header">
                <h1>Thông báo từ ScoreLens</h1>
            </div>
            <div class="email-body">
                <p>Xin chào <%= user.name %>,</p>
                <p>
                    Vui lòng nhập mã dưới đây để xác thực tài khoản của bạn:
                </p>
                <h2><%= activationCode %></h2>
                <p>
                    Vui lòng nhập mã này trên trang kích hoạt trong vòng 5 phút tới.
                </p>
            </div>
            <div class="email-footer">
                <p>
                    Nếu bạn có bất kỳ câu hỏi nào, xin đừng ngần ngại liên hệ với chúng tôi tại
                    <a href="mailto:scorelensbilliards@gmail.com">scorelensbilliards@gmail.com</a>
                </p>
            </div>
        </div>
    </body>
</html>
